@model CloudEngineMX.Erp.SetinTred.Web.Data.ViewModels.NewCustomerViewModel
@{
    ViewData["Title"] = "Lista de Clientes";
    Layout = "_MasterSite";
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Lista de Clientes</h5>
        <div class="header-elements">
            <div class="btn-group">
                <a title="Crear cliente" asp-controller="Sales" asp-action="NewCustomer" class="btn bg-setin btn-icon"><i class="icon-googleplus5"></i>   &nbsp;Nuevo Cliente</a>
            </div>
        </div>
    </div>
    <div class="card-body"></div>
    <table class="table table-hover datatable-responsive">
        <thead>
            <tr>
                <th>Nombre Comercial</th>
                <th>Razon Social</th>
                <th>RFC</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Tipo de Persona</th>
                <th class="text-center">Opciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>@item.SocialName</td>
                    <td>@item.FiscalName</td>
                    <td>@item.Rfc</td>
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.PersonType</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a asp-controller="Sales" asp-action="CustomerEdit" asp-route-id="@item.Id" class="dropdown-item"><i class="icon-user-check"></i> Editar Cliente</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section PageCrumb{
    <span class="breadcrumb-item">Administracion</span>
    <span class="breadcrumb-item active">Proveedores</span>
}
@section CustomScripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
    <script src="~/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>

    <script src="~/js/CustomerList.js"></script>
    <script>
        $(document).ready(function () {
            $(".select").select2({
                tags: false,
                tokenSeparators: [',']
            });

        });

    </script>
}

