@model CloudEngineMX.Erp.SetinTred.Web.Data.ViewModels.PurchaseOrderViewModel
@{
    ViewData["Title"] = "Configurar Orden de Compra";
    Layout = "_MasterSite";
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Detalle Orden de Compra: @Model.PurchaseOrderCode</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"># Orden de Compra:</label>
                            <input type="text" asp-for="PurchaseOrderCode" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"># de Requisición Relacionada:</label>
                            <input type="text" asp-for="RequisitionCode" class="form-control" placeholder="" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Solicitante:</label>
                            <input type="text" asp-for="Applicant" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Base Operativa:</label>
                            <input type="text" asp-for="OperatingBaseName" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Proveedor:</label>
                            <input type="text" asp-for="SupplierName" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Enviar a:</label>
                            <input type="text" asp-for="SendTo" class="form-control" placeholder="Aplicación" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Condiciones de pago:</label>
                            <input type="text" asp-for="Condition" class="form-control" placeholder="Aplicación" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Comentarios:</label>
                            <textarea asp-for="Remarks" class="form-control" disabled="disabled"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold" asp-for="@Model.KeyDescription">Descripción Clave:</label>
                            <textarea asp-for="KeyDescription" class="form-control" disabled="disabled"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/global_assets/images/principal.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Materiales a comprar</h5>
        <div class="header-elements">
            <div class="btn-group">
                <button type="button" class="btn bg-setin btn-icon"><i class="icon-googleplus5"></i>   &nbsp;Materiales y Cotizaciones</button>
                <button type="button" class="btn bg-setin dropdown-toggle" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item addItem" data-id="@Model.PurchaseOrderKey" data-name="@Model.PurchaseOrderKey"><i class="icon-hammer-wrench"></i> Agregar Material o Servicio</a>
                    <a class="dropdown-item addQuotation" data-id="@Model.PurchaseOrderKey" data-name="@Model.PurchaseOrderKey"><i class="icon-file-upload"></i> Agregar Cotización</a>
                    @*<a class="dropdown-item addHotel" data-id="@Model.Mission.Key" data-name="@Model.Mission.Key"><i class="icon-office"></i> Solicitar Hotel</a>
                        <a class="dropdown-item addPayment" data-id="@Model.Mission.Key" data-name="@Model.Mission.Key"><i class="icon-wallet"></i> Solicitar Anticipo</a>*@
                </div>
            </div>
        </div>
    </div>
    <div class="card-body"></div>
    <table class="table table-hover datatable-responsive">
        <thead>
        <tr>
            <th>Consecutivo</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            <th>Numero Parte</th>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            <th>Importe</th>
            <th class="text-center">Aprobado</th>
            <th class="text-center">Urgente</th>
            <th class="text-center">Opciones</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>@item.Consecutive</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>@item.PartNumber</td>
                <td>@item.Description</td>
                <td>@item.UnitPrice.ToString("C2")</td>
                <td>@item.TotalLine.ToString("C2")</td>
                <td class="text-center">
                    @if (item.IsApproved)
                    {
                        <i class="icon-checkbox-checked2"></i>
                    }
                    else
                    {
                        <i class="icon-checkbox-unchecked2"></i>
                    }
                </td>
                <td class="text-center">
                    @if (item.IsUrgent)
                    {
                        <i class="icon-checkbox-checked2"></i>
                    }
                    else
                    {
                        <i class="icon-checkbox-unchecked2"></i>
                    }
                </td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a asp-controller="Purchases" asp-action="DeleteItemPurchaseOrder" asp-route-id="@item.PurchaseOrderDetailKey" class="dropdown-item"><i class="icon-cancel-circle2"></i> Borrar Ítem</a>
                                <a class="dropdown-item editItem" data-id="@item.PurchaseOrderDetailKey" data-name="@item.PurchaseOrderDetailKey"><i class="icon-compose"></i> Editar Item</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="card-footer">
        <div class="col-md-12 text-right">
            <a asp-controller="Purchases" asp-action="GetApproverPurchaseOrder" asp-route-id="@Model.PurchaseOrderKey" class="btn bg-success btn-labeled btn-labeled-right"> Enviar a Aprobación <b><i class="icon-add"></i></b></a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Cotizaciones Relacionadas</h5>
    </div>
    <div class="card-body"></div>
    <table class="table table-hover datatable-responsive-quotes">
        <thead>
            <tr>
                <th>Nombre Documento</th>
                <th class="text-center">Opciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Quotations)
            {
                <tr>
                    <td>@item.FileName</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="@Url.Content(item.RouteFile)" target="_blank"  class="dropdown-item"><i class="icon-file-download"></i> Descargar Archivo</a>
                                    <a asp-controller="Purchases" asp-action="DeleteDocument" asp-route-id="@item.QuotationKey" asp-route-order="@Model.PurchaseOrderKey"  class="dropdown-item"><i class="icon-cancel-square"></i> Eliminar Archivo</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="positionFormModel" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Material</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div id="positionFormModelDiv"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="quotationFormModel" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Cotización</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div id="quotationFormModelDiv"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="positionFormModelEdit" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Material</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div id="positionFormModelDivEdit"></div>
            </div>
        </div>
    </div>
</div>
@section CustomScripts{

    <script type="text/javascript" src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>

    <script src="~/js/PurchaseOrderDetailUser.js"></script>
    <script>
        $(document).ready(function () {

            $(".select").select2({
                tags: false,
                tokenSeparators: [',']
            });

            $(".addItem").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var url = "/Purchases/CreateItemToPurchase/" + id;
                debugger;
                $("#positionFormModelDiv").load(url, function () {
                    $("#positionFormModel").modal("show");
                });
            });

            $(".editItem").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var url = "/Purchases/EditItem/" + id;
                debugger;
                $("#positionFormModelDivEdit").load(url, function () {
                    $("#positionFormModelEdit").modal("show");
                });
            });

            $(".addQuotation").click(function() {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var url = "/Purchases/AddQuotationToPurchase/" + id;
                debugger;
                $("#quotationFormModelDiv").load(url, function () {
                    $("#quotationFormModel").modal("show");
                });
            });
        });
    </script>
}


