@model CloudEngineMX.Erp.SetinTred.Web.Data.ViewModels.PurchaseOrderViewModel
@{
    ViewData["Title"] = "Detalle Instrucción de Compra";
    Layout = "_MasterSite";
}
<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Detalle Instrucción de Compra: @Model.PurchaseOrderCode</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"># Instrucción de Compra:</label>
                            <input type="text" asp-for="PurchaseOrderCode" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold"># de Requisición:</label>
                            <input type="text" asp-for="RequisitionCode" class="form-control" placeholder="" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Solicitante:</label>
                            <input type="text" asp-for="Applicant" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Base Operativa:</label>
                            <input type="text" asp-for="OperatingBaseName" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Proveedor:</label>
                            <input type="text" asp-for="SupplierName" class="form-control" placeholder="Fecha Requsicion" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Enviar a:</label>
                            <input type="text" asp-for="SendTo" class="form-control" placeholder="Aplicación" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Condiciones:</label>
                            <input type="text" asp-for="Condition" class="form-control" placeholder="Aplicación" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Comentarios:</label>
                            <textarea asp-for="Remarks" class="form-control" disabled="disabled"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Descripción Clave:</label>
                            <textarea asp-for="KeyDescription" class="form-control" disabled="disabled"></textarea>
                        </div>
                    </div>
                    @if (Model.Status == "Rechazada por D.G.")
                    {
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Motivo de Rechazo:</label>
                                <textarea asp-for="CancelComments" class="form-control" disabled="disabled"></textarea>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="~/global_assets/images/principal.jpg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">Materiales a comprar</h5>
    </div>
    <div class="card-body"></div>
    <table class="table table-hover datatable-responsive">
        <thead>
            <tr>
                <th>Consecutivo</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Numero Parte</th>
                <th>Descripción</th>
                <th>Precio Unitario</th>
                <th>Importe</th>
                <th class="text-center">Urgente</th>
                <th class="text-center">Aprobado</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Details)
            {
            <tr>
                <td>@item.Consecutive</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
                <td>@item.PartNumber</td>
                <td>@item.Description</td>
                <td>@item.UnitPrice.ToString("C2")</td>
                <td>@item.TotalLine.ToString("C2")</td>
                <td class="text-center">
                    @if (item.IsUrgent)
                    {
                        <i class="icon-checkbox-checked2"></i>
                    }
                    else
                    {
                        <i class="icon-checkbox-unchecked2"></i>
                    }
                </td>
                <td class="text-center">
                    @if (item.IsApproved)
                    {
                        <i class="icon-checkbox-checked2"></i>
                    }
                    else
                    {
                        <i class="icon-checkbox-unchecked2"></i>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section CustomScripts{

    <script type="text/javascript" src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/global_assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>

    <script src="~/js/PurchaseOrderDetailDirection.js"></script>
    <script>
        $(document).ready(function () {

            $(".select").select2({
                tags: false,
                tokenSeparators: [',']
            });
        });
    </script>
}


